.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Media Preferences */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 37.5em) {
  #navbar {
      padding: 0 0 0 1.5rem;
  }
}

@media (max-width: 56.25em) {
  #Intro {
    height: auto;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 37.5em) {
  #Product {
    padding: 4rem 2rem;
    height: auto;
    flex-direction: column;
  }
}

@media (max-width: 56.25em) {
  #intro-text, #intro-subheader, #intro-header {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  #filter-div {
    padding: 0 0 0 1.5em;
    box-sizing: border-box;
    flex-direction: column;
  }
}

@media (max-width: 570px) {
  #demo-div {
    /* width: 550px; */
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'aileronregular', 'Roboto', sans-serif;
}

body {
  position: relative;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F7F8F3;
}

#Pay{
  background-color: #ffffff;
  flex: 1;
  height:100vh;
}


.nav-item {
  margin: 5px 10px;
}

/* #videoBG {
  position: absolute;
  z-index: 3;
  width: 680px;
  height: 600px;
  right: 265px;
  top: 262px;
} */

#videoBG {
  width: 700px;
  height: 700px;
}

#phoneFrame {
  z-index: 2;
  position: relative;
  height: 1245px;
  width: 735px;
  bottom: 230px;
}

.section {
  background: #BEA7E5;
  height:100vh;
  width: 100%;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  border-bottom-width: 10px;
  border-color: #F7F8F3;
  border-style: solid;
}

.nav-button {
  margin: auto; 
  padding: 30px 16px;
  display: block;
  transition: all 0.3s ease;
  /* font-size: 20px; */
  /* color: #3d2b47; */
}

.nav-button:hover {
  background-color: grey;
}

.filter-item:hover {
  background-color: grey;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
