.container {
  display: block;
  height: 100%;
  max-height: none;
  max-width: 100%;
  min-height: 85vh;
  margin-top: 60px;
  margin-bottom: 0px;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-image: url('../images/gradient.png');
  background-position: 0px 0px;
  background-size: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.body {
  height: 100%;
  max-height: 100%;
  font-family: Aileron, sans-serif;
}

.column {
  padding-left: 0px;
}

.columns {
  padding-top: 0px;
}

.column-2 {
  padding-bottom: 20px;
}

.heading {
  height: auto;
  font-family: Aileron, sans-serif;
  font-size: 4rem;
  font-weight: 700;
}

.paragraph {
  overflow: visible;
  height: auto;
  margin-top: 30px;
  font-family: Aileron, sans-serif;
  font-size: 2.7rem;
  font-weight: 400;
}

.paragraph.med-text {
  width: 100%;
  line-height: 50px;
}

.paragraph.section-title {
  margin-top: 0px;
  color: #fff;
  text-align: center;
}

.column-3 {
  height: 100%;
  padding-top: 80px;
  padding-left: 50px;
}

.paragraph-2 {
  width: 100%;
  height: auto;
  margin-top: 30px;
  font-family: Aileron, sans-serif;
  font-size: 1rem;
  line-height: 25px;
  font-weight: 400;
}

.section {
  width: 100%;
  height: 100%;
}

.column-4 {
  padding-bottom: 20px;
  -o-object-fit: contain;
  object-fit: contain;
}

.background-video {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.columns-2 {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  line-height: 15px;
  font-weight: 400;
}

.section-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1a1a1a), to(#1a1a1a));
  background-image: linear-gradient(180deg, #1a1a1a, #1a1a1a);
  box-shadow: none;
}

.grid {
  margin-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-rows: auto 40px auto;
  grid-template-areas: ". ."
    ". Area";
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr;
}

.block-item {
  height: 242px;
  padding: 30px;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#292929), to(#292929));
  background-image: linear-gradient(180deg, #292929, #292929);
}

.block-header {
  font-size: 1.5em;
  font-weight: 400;
}

.block-header.block-head-1 {
  font-family: Aileron, sans-serif;
  color: #bea7e5;
}

.block-header.block-head-2 {
  font-family: Aileron, sans-serif;
  color: #ddf8e8;
}

.block-header.block-head-3 {
  font-family: Aileron, sans-serif;
  color: #f4a261;
}

.block-header.block-head-4 {
  font-family: Aileron, sans-serif;
  color: #ff7070;
}

.block-icon {
  font-family: 'Font awesome 5 free solid 900', sans-serif;
  color: #bea7e5;
  font-size: 40px;
}

.block-icon.icon-2 {
  color: #ddf8e8;
}

.block-icon.icon-3 {
  color: #f4a261;
}

.block-icon.icon-4 {
  color: #ff7070;
}

.block-icon.icon-5 {
  margin-bottom: 30px;
}

.block-p {
  font-family: Aileron, sans-serif;
  color: #fff;
  font-weight: 400;
}

.section-3 {
  max-height: none;
}

.container-2 {
  max-width: 100%;
  min-height: 100vh;
  background-image: url('../images/WhiteOrange-BG2.png');
  background-position: 65% 100%;
  background-size: cover;
}

.container-2.pay-cont {
  background-image: url('../images/WhitePurp-BG2.png');
  background-position: 35% 100%;
}

.container-2.coral-bg {
  background-image: url('../images/WhiteCoral-Bg.png');
  background-position: 100% 50%;
  background-size: cover;
}

.container-2.discover-cont {
  background-image: url('../images/WhiteBrown-Bg.png');
}

.columns-3 {
  max-height: 100%;
  min-height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 140px;
  padding-right: 40px;
  padding-left: 40px;
}

.column-5 {
  max-height: 100%;
  padding-top: 140px;
  padding-left: 30px;
}

.paragraph-3 {
  margin-bottom: 30px;
  font-family: Aileron, sans-serif;
  color: #f4a261;
  font-size: 2.7rem;
  font-weight: 400;
}

.paragraph-3.purp-title {
  color: #bea7e5;
}

.paragraph-3.coral-title {
  color: #ff7070;
}

.paragraph-3.honeyd-title {
  color: #6b4b3e;
  font-weight: 400;
}

.column-6 {
  padding-right: 30px;
}

.paragraph-4 {
  font-family: Aileron, sans-serif;
  font-size: 1rem;
}

.columns-4 {
  margin-left: auto;
  padding: 140px 40px 10px;
}

.column-7 {
  padding-top: 240px;
  padding-left: 20px;
}

.image {
  max-height: 600px;
}

.column-9 {
  padding-top: 350px;
  padding-left: 60px;
}

.image-2 {
  height: auto;
  max-height: 650px;
  min-height: auto;
  padding-bottom: 40px;
}

.column-10 {
  padding-top: 100px;
  padding-left: 40px;
}

.image-3 {
  max-height: 700px;
}

.column-11 {
  padding-bottom: 40px;
}

.section-4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1a1a1a), to(#1a1a1a));
  background-image: linear-gradient(180deg, #1a1a1a, #1a1a1a);
}

.paragraph-5 {
  display: inline-block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.container-3 {
  height: 70px;
  max-width: 83%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
}

.image-4 {
  width: 100%;
  max-height: 700px;
  min-height: 500px;
}

.container-4 {
  color: #1a1a1a;
}

.heading-2 {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  color: #1a1a1a;
  font-size: 1rem;
  text-align: center;
}

.column-12 {
  margin-right: auto;
  margin-left: auto;
}

.paragraph-6 {
  max-width: 100%;
  padding-left: 40px;
  color: #1a1a1a;
  font-size: 0.8rem;
  text-align: center;
}

.columns-5 {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0px solid #000;
}

.section-5 {
  border-top: 0.25px solid #000;
}

.link {
  display: inline;
  opacity: 1;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .container {
    overflow: visible;
    height: 100%;
    opacity: 1;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .column-3 {
    padding-top: 40px;
  }

  .paragraph-2 {
    text-align: left;
  }

  .background-video {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .columns-2 {
    height: 100%;
  }

  .section-2 {
    height: auto;
  }

  .grid {
    margin-top: 2rem;
  }

  .block-item {
    padding: 10px 30px 30px;
  }

  .block-header {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .container-2.pay-cont {
    max-height: 17%;
    background-image: url('../images/WhitePurp-BG2.png');
    background-position: 30% 100%;
  }

  .columns-3.discover-column {
    padding-top: 60px;
  }

  .paragraph-3 {
    color: #f4a261;
  }

  .paragraph-3.purp-title {
    color: #bea7e5;
  }

  .columns-4 {
    margin-left: auto;
    padding-top: 100px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .column-7 {
    padding-top: 220px;
    padding-left: 60px;
  }

  .image {
    max-height: 500px;
    padding-bottom: 20px;
  }

  .column-8 {
    padding-bottom: 0px;
  }

  .column-9 {
    padding-top: 280px;
  }

  .container-3 {
    padding-top: 5px;
  }

  .image-4 {
    min-height: 500px;
  }

  .section-5 {
    border-top-width: 0.2px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    overflow: visible;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .paragraph-2 {
    text-align: left;
  }

  .section {
    width: auto;
    height: auto;
  }

  .columns-2 {
    min-height: auto;
  }

  .section-2 {
    min-height: 100%;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .columns-3 {
    padding-top: 40px;
  }

  .columns-3.discover-column {
    padding-top: 40px;
  }

  .paragraph-3 {
    color: #333;
  }

  .paragraph-3.purp-title {
    color: #333;
  }

  .paragraph-3.coral-title {
    color: #333;
  }

  .columns-4 {
    padding-bottom: 40px;
  }

  .column-7 {
    padding-top: 40px;
  }

  .column-9 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container-3 {
    height: 110px;
    max-width: 90%;
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .image-4 {
    max-height: 500px;
    min-height: 300px;
  }
}

@media screen and (max-width: 479px) {
  .body {
    overflow: visible;
    max-height: none;
  }

  .heading {
    overflow: visible;
    margin-right: auto;
    margin-left: auto;
    font-size: 3.5rem;
    text-align: center;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .heading.big-header {
    font-size: 3.3rem;
    text-align: center;
  }

  .paragraph {
    font-size: 2.2rem;
    text-align: center;
  }

  .column-3 {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
  }

  .paragraph-2 {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    text-align: center;
  }

  .section {
    overflow: hidden;
  }

  .background-video {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .columns-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .grid {
    display: block;
    overflow: visible;
    width: 100%;
    padding-bottom: 20px;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .block-item {
    width: 100%;
    min-width: 85%;
    margin-bottom: 20px;
    padding-top: 30px;
  }

  .container-2.pay-cont {
    background-position: 35% 100%;
  }

  .container-2.discover-cont {
    background-position: 50% 100%;
  }

  .columns-3 {
    padding-top: 80px;
  }

  .columns-3.discover-column {
    padding-top: 40px;
  }

  .column-5 {
    margin-bottom: 40px;
    padding-top: 10px;
  }

  .paragraph-3 {
    color: #333;
  }

  .paragraph-3.purp-title {
    color: #333;
  }

  .paragraph-3.coral-title {
    color: #333;
  }

  .paragraph-3.honeyd-title {
    color: #333;
  }

  .column-7 {
    padding-top: 10px;
  }

  .column-9 {
    padding-top: 20px;
    padding-left: 40px;
  }

  .image-2 {
    min-height: 300px;
  }

  .column-10 {
    padding-top: 20px;
  }

  .paragraph-5 {
    font-size: 0.7rem;
  }

  .container-3 {
    height: 100px;
    max-height: 100%;
    max-width: 90%;
    padding-top: 10px;
  }
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/Aileron-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aileron';
  src: url('../fonts/Aileron-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aileron';
  src: url('../fonts/Aileron-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aileron';
  src: url('../fonts/Aileron-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Font awesome 5 free 400';
  src: url('../fonts/Font-Awesome-5-Free-Regular-400.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Font awesome 5 brands 400';
  src: url('../fonts/Font-Awesome-5-Brands-Regular-400.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Font awesome 5 free solid 900';
  src: url('../fonts/Font-Awesome-5-Free-Solid-900.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}